.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/pictures/login_image.png");
  background-position: center;
  background-size: cover;
}

.login-fitment {
  display: none;
  width: 50%;
  height: 100%;
  /*flex: 1;*/
  background-color: var(--secondary-20);
}

.login-still {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  /*flex: 1;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 100%;
  height: auto;
  padding: 0.8rem;
  background-color: var(--primary-20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 0.8rem;
}

.ufc {
  color: var(--primary-70);
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;
}

@media (min-width: 426px) {
  .login-fitment {
    width: 50%;
    height: 100%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
  }

  .login-still {
    width: 50%;
  }

  picture {
    width: 90%;
    height: 90%;
    /* border: 2px solid red; */
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    /* border: 2px solid blue; */
    /* display: none; */
  }

  .login-form {
    width: 90%;
  }
}
