form {
  height: auto;
  width: 100%;
  margin: auto;
  /*padding: 20px;*/
  /* border: 1px solid black; */
  /*border-radius: 20px;*/
  background-color: var(--primary-20);
  font-size: 1rem;
}

.vertical-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.horizontal-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
