.alternativa-frame {
  width: 100%;
  min-height: 50px;
  height: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.alternativa {
  width: 20%;
  min-height: 80px;
  height: 100%;
  padding: 15px;
  background-color: var(--primary-85);
  color: var(--primary-light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.alternativa-contenido {
  width: 80%;
  min-height: 50px;
  height: fit-content;
  padding: 5px;
}

@media (min-width: 321px) {
  .alternativa-frame {
  }

  .alternativa {
  }

  .alternativa-contenido {
  }
}

@media (min-width: 376px) {
  .alternativa-frame {
  }

  .alternativa {
    width: 15%;
  }

  .alternativa-contenido {
    width: 85%;
  }
}

@media (min-width: 426px) {
  .alternativa-frame {
  }

  .alternativa {
  }

  .alternativa-contenido {
  }
}

@media (min-width: 769px) {
  .alternativa-frame {
  }

  .alternativa {
    width: 10%;
  }

  .alternativa-contenido {
    width: 90%;
  }
}

@media (min-width: 1025px) {
  .alternativa-frame {
  }

  .alternativa {
    width: 5%;
  }

  .alternativa-contenido {
    width: 95%;
  }
}
