.select-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /*border: 1px solid red;*/
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.select-label {
  width: 100%;
  /* border: solid; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  padding-left: 0.8rem;
  font-size: 1.2rem;
}

.select-field {
  width: 100%;
  flex: 2;
  padding: 0 0.8rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: var(--blanco);
  border-bottom: none;
  font-size: 1rem;
}

option {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  outline: none;
  background-color: var(--primary-light);
}
