.btn {
  width: 100%;
  height: 80%;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 2px solid green;*/
}

button {
  height: 100%;
  width: 100%;
  background-color: var(--primary-85);
  /*border: solid 1px var(--primary);*/
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--primary-light);
  cursor: pointer;
}

button:hover {
  background-color: var(--primary);
  /* color: var(--primary-light); */
  border: none;
}

.yes:hover {
  background-color: green;
}

.not:hover {
  background-color: red;
}

.warning:hover {
  background-color: yellow;
}
