body,
header,
main,
footer,
aside,
section,
form,
input,
textarea,
div,
h1,
h2,
p,
a,
span,
button,
ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 0; */
}

:root {
  --primary-lighter: hsl(215, 100%, 100%);
  --primary-light: hsl(215, 100%, 95%);
  --primary-15: hsl(215, 100%, 85%);
  --primary-25: hsl(215, 100%, 75%);
  --primary: hsl(215, 100%, 50%);
  --primary-75: hsl(215, 100%, 25%);
  --primary-85: hsl(215, 100%, 15%);
  --primary-dark: hsl(215, 100%, 5%);
  --primary-darker: hsl(215, 100%, 0%);
  --primary-shadow-dark: hsl(215, 100%, 5%, 0.5);
  --primary-shadow-85: hsl(215, 100%, 15%, 0.5);
  --primary-shadow-75: hsl(215, 100%, 25%, 0.5);
  --primary-shadow: hsl(215, 100%, 50%, 0.5);
  --primary-shadow-25: hsl(215, 100%, 75%, 0.5);
  --primary-shadow-15: hsl(215, 100%, 85%, 0.5);
  --primary-shadow-light: hsl(215, 100%, 95%, 0.5);
  --blanco: hsl(0, 0%, 100%);
  --gris-light: hsl(0, 0%, 95%);
  --gris-15: hsl(0, 0%, 85%);
  --gris-25: hsl(0, 0%, 75%);
  --gris: hsl(0, 0%, 50%);
  --gris-75: hsl(0, 0%, 25%);
  --gris-85: hsl(0, 0%, 15%);
  --gris-dark: hsl(0, 0%, 5%);
  --negro: hsl(0, 0%, 0%);
}

body {
  font-size: 10px;
}

#root {
  width: 100dvw;
  height: 100dvh;
  border: none;
  background: var(--gris-15);
  color: var(--primary-darker);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 321px) {
  body {
    font-size: 11px;
  }
}

@media (min-width: 376px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 426px) {
  body {
    font-size: 13px;
  }
}

@media (min-width: 769px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1025px) {
  body {
    font-size: 16px;
  }
}
