header {
  width: 100%;
  height: 8dvh;
  border: none;
  background: var(--primary-70);
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.5rem;
}

main {
  width: 100%;
  height: 84dvh;
  border: none;
  color: var(--primary-90);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.6rem;
}

footer {
  width: 100%;
  height: 8dvh;
  border: none;
  background: var(--primary-70);
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.5rem;
}

@media (min-width: 321px) {
  header {
    font-size: 0.5rem;
  }

  main {
    font-size: 0.6rem;
  }

  footer {
    font-size: 0.5rem;
  }
}

@media (min-width: 376px) {
  /*meu celular*/
  header {
    font-size: 0.6rem;
  }

  main {
    font-size: 0.8rem;
  }

  footer {
    font-size: 0.6rem;
  }
}

@media (min-width: 426px) {
  header {
    font-size: 0.7rem;
  }

  main {
    font-size: 1rem;
  }

  footer {
    font-size: 0.7rem;
  }
}

@media (min-width: 769px) {
  header {
    /*height: 8vh;*/
    font-size: 0.8rem;
  }

  main {
    /*height: 84vh;*/
    font-size: 1rem;
  }

  footer {
    /*height: 8vh;*/
    font-size: 0.8rem;
  }
}

@media (min-width: 1025px) {
  header {
    font-size: 0.8rem;
  }

  main {
    font-size: 1rem;
  }

  footer {
    font-size: 0.8rem;
  }
}
