.input-form {
  width: 100%;
  height: 100%;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.input-label {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.8rem;
  font-size: 1.2rem;
  flex: 1;
  /*border: 1px solid black;*/
}

.input-field {
  height: auto;
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 2;
  /*border: 1px solid blue;*/
  border-radius: 0.5rem;
  background-color: var(--blanco);
  color: var(--primary-dark);
}

input {
  height: 100%;
  width: 100%;
  padding-left: 0.8rem;
  border-radius: 0.5rem;
  /*border: 1px solid green;*/
  /*background-color: var(--secondary-lighter-25);
  color: var(--primary-dark);*/
  font-size: 1rem;
}

.error {
  background-color: var(--warning-light);
  color: var(--warning-dark);
}

.borded {
  border: 1px solid var(--warning);
  background-color: var(--warning-light);
}
