.cuestionario {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  background-color: var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.clasificacion {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.start-separator {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem;
}

.separator {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.end-separator {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.8rem;
}

@media (min-width: 426px) {
  .cuestionario {
    width: 400px;
    height: 100%;
    border-radius: 0.8rem;
  }
}

@media (min-width: 769px) {
  .cuestionario {
    width: 80%;
    height: 100%;
    border-radius: 0.8rem;
  }

  .clasificacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
