nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navigator {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

a {
  color: var(--primary-20);
  text-decoration: none;
  font-weight: bold;
}
