.modal-overlay {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  z-index: 2;
  top: 0px;
  background: var(--secondary-shadow-30);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal-box {
  display: block;
  background: var(--primary-20);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--negro);
}

/* @media (min-width: 426px) {
  .modal-overlay {
    align-items: center;
  }

  .modal-box {
    max-width: 96%;
    max-height: 500px;
  }
} */

@media (min-width: 769px) {
  .modal-overlay {
    align-items: center;
  }

  .modal-box {
    max-width: 96%;
    max-height: 80%;
  }
}
