.signup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/src/assets/pictures/cadastro-image.jpeg");
  background-position: center;
  background-size: cover;
}

.signup-fitment {
  display: none;
  width: 50%;
  height: 100%;
  background-color: var(--secondary-20);
}

.signup-still {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 100%;
  height: auto;
  padding: 0.8rem;
  background-color: var(--primary-20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 0.8rem;
}

@media (min-width: 430px) {
  .signup-fitment {
    width: 50%;
    height: 100%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signup-still {
    width: 50%;
  }

  picture {
    width: 90%;
    height: 90%;
    /* border: 2px solid red; */
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    /* border: 2px solid blue; */
    /* display: none; */
  }

  .signup-form {
    width: 90%;
  }
}
