.signup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-fitment {
  display: none;
  width: 50%;
  height: 100%;
  background-color: var(--secondary-20);
}

.signup-still {
  width: 100%;
  height: 100%;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 100%;
  height: auto;
  padding: 0.8rem;
  background-color: var(--primary-20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  border-radius: 0.8rem;
}

@media (min-width: 430px) {
  .signup-fitment {
    display: block;
  }

  .signup-still {
    width: 50%;
  }
}
